body {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

body p {
	font-family: "Lato", sans-serif;
	margin-bottom: 1em;;
}

.headline {
	font-family: arial, sans-serif;
	font-weight: bold;
	text-align: center;
}

.headline em {
	color: #005282;
}

.date, .time {
	display: inline-block;
	vertical-align: top;
	background-color: #71A1BE;
	color: white;
	text-align: center;
}

.date {
	width: 20%;
}

.date img {
	width: 50%;
}

.time {
	width: 75%;
}

.date-time {
	
}