body p {
	font-family: "Lato", sans-serif;
	margin-bottom: 1em;
	width: 375px;
	font-size: 62.5%
}

.lead-in {
	text-align: center;
	font-size: 1.1rem;
	line-height: 1.7rem;
	box-sizing: border-box;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-bottom: 1.5rem;
	border-bottom: 2px solid #005282;
	background-color: yellow;
}

.headline {
	font-family: arial, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 2.3rem;
	padding-left: .75rem;
	padding-right: .75rem;
}

.headline em {
	color: #005282;
}

.date, .time {
	background-color: #71A1BE;
	color: white;
	text-align: center;
}

.date img {
	width: 50%;
}

.presenter {
	background-color: #05263A;
	color: white;
}

.presenter img {

}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    position: relative;
    padding-left: 20px;
}

ul li:before {
    content: '';
    width: 1em;
    height: 1em;
    position: absolute;
    background-image: url('images/RGS_Hotlist_0617_CheckmarkBox.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}