body {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

body p {
	font-family: "Lato", sans-serif;
	margin-bottom: 1em;;
}

.headline {
	font-family: arial, sans-serif;
	font-weight: bold;
	text-align: center;
}

.headline em {
	color: #005282;
}

.date, .time {
	background-color: #71A1BE;
	color: white;
	text-align: center;
}

.date {
	width: 20%;
}

.date img {
	width: 50%;
}

.time {
	width: 75%;
}

.date-time {
	display: flex;
}

.presenter-bullets {
	display: flex;
}

.presenter, .bullets {
	
}

.presenter {
	background-color: #05263A;
	color: white;
}

.presenter img {
	width: 80%;
}

ul {
    list-style: none;
    padding-left: 0;
}
ul li {
    position: relative;
    padding-left: 20px;
}
ul li:before {
    content: '';
    width: 1em;
    height: 1em;
    position: absolute;
    background-image: url('images/RGS_Hotlist_0617_CheckmarkBox.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}